@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-VariableFont_wdth,wght.woff') format('woff');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('fonts/PlayfairDisplay-VariableFont_wght.woff') format('woff');
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


body{
    display: flex;
    flex-direction: column;
}

p {
  font-size: 24px;
}



h1{
    color: pink;
    font-family: 'Roboto';
}

h2{
  text-align: center;
}

h3{
  font-size: 24px;
}

img{
    width: 100%;
}

a img{
    width: 48px;
}

header{
  padding: 24px;
  background: linear-gradient(330deg, transparent 72%, rgb(59, 59, 230) 1%);
}

section{
  /* padding: 24px; */
}

.socials{
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card{
  margin: 24px;
  /* background: blue; */
  /* border: 1px solid grey; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project-socials{
  display: flex;
}

.project-socials a img{
  width: 32px;
}

.work-img{
}

.img-placeholder{
  width: 100%;
  height: 250px;
  background-color: red;
}

.project-header{
  display: flex;
  padding: 24px;
}

.card p{
  margin: 18px;
  margin-top: 0;
  height: 150px;
}

h3{
  flex: 1;
}