@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-VariableFont_wdth,wght.woff') format('woff');
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('fonts/PlayfairDisplay-VariableFont_wght.woff') format('woff');
}

body{
    padding: 24px;
}

h1{
    color: pink;
    font-family: 'Roboto';
}

img{
    width: 100%;
}

a img{
    width: 24px;
}