@font-face {
  font-family: "Roboto";
  src: url('assets/fonts/Roboto-VariableFont_wdth,wght.woff') format('woff');
  /* src: url() */
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url('assets/fonts/PlayfairDisplay-VariableFont_wght.woff') format('woff');
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* General */

body{
    font-size: 32px;
    display: flex;
    flex-direction: column;
    gap: 124px;
    /* align-items: center; */
    
}

h2{
  font-size: 1.4em;
  text-align: center;
  font-weight: normal;
}

h3{
  font-size: 1.2em;
  font-family: "PlayfairDisplay";
}

p {
  font-size: 1em;
}

img{
    width: 100%;
}

a img{
    width: 48px;
}

/* Header Section */

header{
  padding: 24px;
  background: linear-gradient(330deg, transparent 75%, rgb(53, 130, 194) 0%);
}

header .img-container{
  margin: 24px;
}

.img-container figure{
  position: relative;
}

.img-container figcaption{
  position: absolute;
  bottom: 3px;
  font-size: 3em;
  padding: 8px;
  padding-bottom: 0px;
  color: white;
  line-height: 1em;
}

.about-me{
  margin: 12px;
}

.about-me h2{
  font-weight: normal;
  
}
.about-me p{
  color: grey;
  font-family: "Roboto", serif;
}

.socials{
  /* background-color: red; */
  margin-top:12px;
  display: flex;
  gap: 24px;
  justify-content: center;
}



/* Project Section */

.work-section{
  padding: 24px;
}

section h2{
  font-family: "PlayfairDisplay";
}

section h3{
  padding-left: 12px;
  font-weight: lighter;
}

.work-cards{
  display: flex;
  flex-direction: column; 
  gap: 48px;
  justify-content: center;
  /* margin: 24px; */
}

.card{
  
  flex: 1;
  /* margin-left: 15px; */
  /* background: blue; */
  /* border: 1px solid grey; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card p{
  font-family: "Roboto";
  margin: 18px;
  margin-top: 0;
  height: 150px;
}

.img-placeholder{
  width: 100%;
  height: 350px;
}

.img-placeholder p{
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-family: "PlayfairDisplay";
}

.img-placeholder{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-placeholder.one{
  background-color: rgb(141, 106, 223);
}

.img-placeholder.two{
  background-color: rgb(201, 156, 73);
}

.img-placeholder.three{
  background-color: rgb(95, 167, 95);
}

.img-placeholder.four{
  background-color: rgb(212, 107, 198);
}

.img-placeholder.five{
  background-color: rgb(55, 130, 201);
}

.img-placeholder.six{
  background-color: rgb(97, 179, 97);
}

.project-header{
  display: flex;
  padding: 24px;
}

h3{
  flex: 3;
  
}


.project-socials{
  display: flex;
  gap: 24px;
  flex: 1;
  
}

.project-socials a img{
  width: 48px;
}

.description-container{
  height: 200px;
  /* margin-left: 12px; */
  color: grey;
  font-size: .8em;
}

/* Contact Section */

section.contact{
  background-color: rgb(53, 130, 194);
  color: white;
  
}

.contact h2{
  font-size: 2em;
  padding: 24px;
}

.contact-container{
  font-family: "Roboto";
  display: flex;
  padding: 32px;
  font-size: .8em;
  flex-direction: column;
  gap: 3em;
}

.contact-container>p:first-child{
  font-size: 1.5em;
}

/* address{
  font-size: 2em;
} */

.contact .img-container{
  margin-top: 96px;
}

/* SVG visiblity control */
svg {
  display: none;
}

/* Tablet View */

@media screen and (min-width: 600px) and (max-width: 1199px){
  body{
    /* background-color: red; */
  }

  h3{
    font-size: .8em;
  }


  /* Header Section */
  header{
    background: linear-gradient(330deg, transparent 60vw, rgb(53, 130, 194) 0%);
  }

   header .img-container{
  /* position: absolute; */
 }

 .img-container{
  width: 50%;
  float: left;
 }

 .img-container figcaption{
  position: absolute;
  /* float: right; */
  top: 0px;
  left: 40vw;
  font-size: calc(3vw + 1em);
  padding: 8px;
  padding-bottom: 0px;
  color: white;
  width: 100%;
  /* background-color: red; */
}

 .about-me{
  /* display: flex; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 6vw;
  margin-top: 12vw;
  background-color: white;
  padding: 15px;
 }

 .about-me .socials{
  display: none;
 }

 /* Project Section*/
 .work-cards{
  display: flex;
  /* gap: 48px; */
  flex-direction: row;
  flex-wrap: wrap;
  /* margin: 0px; */
  margin: 12px;
 }
 .card{
  margin: 24px;
 }

 /* Contant Section */
/* 
 .contact{ 
  display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  align-items: center;
 }

 h2{
  flex-basis: 100%;
 }

 .contact-container{
  flex: 1;
  background-color: red;
  padding-top: 100px;
  width: 50%;
  height: 50%;
 }

 .contact .img-container{
  flex: 1;
  background-color: yellow;
  padding: 30px;
  width: 50%;
  height: 50%;
 }  */

  .contact{
    display: flex;
    align-items: center;
    gap: 0px;
  }

  .contact h2{
    padding: 0px;
    font-size: 1em;
    text-align: left;;
  }
  
  .contact p{
    font-size: .7em;
  }

  .contact-container p:first-child{
    font-size: .7em;
  }

  .contact-main-container{
    /* background-color: red; */
    padding: 30px;
    margin: 50px;
    margin-top: 100px;
  }

  .contact-container{
    padding: 0px;
    gap: 1em;

  }

  .svg-container{
    display: flex;
  }
  .contact-number{
    /* background-color: red; */
  }

  svg{
    display: inline-block;
    fill: white;
    height: 24px;
    min-width: 24px;
  }

  /* .contact-number::before{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Ephone-outline%3C/title%3E%3Cpath d='M20,15.5C18.8,15.5 17.5,15.3 16.4,14.9C16.3,14.9 16.2,14.9 16.1,14.9C15.8,14.9 15.6,15 15.4,15.2L13.2,17.4C10.4,15.9 8,13.6 6.6,10.8L8.8,8.6C9.1,8.3 9.2,7.9 9,7.6C8.7,6.5 8.5,5.2 8.5,4C8.5,3.5 8,3 7.5,3H4C3.5,3 3,3.5 3,4C3,13.4 10.6,21 20,21C20.5,21 21,20.5 21,20V16.5C21,16 20.5,15.5 20,15.5M5,5H6.5C6.6,5.9 6.8,6.8 7,7.6L5.8,8.8C5.4,7.6 5.1,6.3 5,5M19,19C17.7,18.9 16.4,18.6 15.2,18.2L16.4,17C17.2,17.2 18.1,17.4 19,17.4V19Z' /%3E%3C/svg%3E");
    background-size: 24px 24px;
    background-color: white;
    display: inline-block;
    padding-right: 3px;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    -webkit-mask: url('./assets/icons/phone-outline.svg') no-repeat 50% 50%;
    mask: url('assets/icons//phone-outline.svg') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  } */

  /* .contact-email::before{
    content: url('assets/icons/email-outline.svg');
    display: inline-block;
    width: 24px;
    vertical-align: middle;
    padding-right: 3px;
    fill: white;
  } */


  .socials{
    justify-content: flex-start;
  }

  .contact .img-container{
    padding: 25px;
    margin: 15px;
  }

}